@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4ade80;
  --secondary: #d6d3d1;
}

html {
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 45%,
    var(--primary) 45%,
    var(--secondary) 55%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0) 100%
  );
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;
  -webkit-box-shadow: 50px 50px 10px var(--primary);
  -moz-box-shadow: 50px 50px 10px var(--primary);
  box-shadow: 50px 50px 10px var(--primary);
}

body {
  font-family: 'Poppins', 'sans-serif';
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-slate-700;
  }
  p,
  span {
    @apply text-slate-400;
  }
}

@layer utilities {
  .clip-path-ellipse {
    position: relative;
    min-height: 540px;
    @apply bg-zinc-700;
  }

  .clip-path-ellipse::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110px;
    z-index: 1;
    @apply bg-stone-100;
    /* clip-path: ellipse(150vw 100vw at 50vw 100vw);
     */

    clip-path: ellipse(60% 100% at 50% 100%);
  }

  .clip-path-reverse-ellipse {
    position: relative;
    min-height: 240px;
    @apply bg-zinc-700;
  }

  .clip-path-reverse-ellipse::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 110px;
    z-index: 1;
    @apply bg-stone-100;
    clip-path: ellipse(60% 100% at 50% 0%);
  }

  .clip-path-polygon {
    position: relative;
    @apply bg-zinc-700;
  }

  .clip-path-polygon::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 1;
    @apply bg-zinc-100;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }

  .clip-path-dialog {
    position: relative;
    border-radius: 15% 10%;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 84%,
      75% 84%,
      75% 100%,
      46% 85%,
      0 84%
    );
    @apply bg-zinc-700;
  }
}
